body{
    background-color: #12232E;
    overflow-y: scroll;
}

.row{
    width: 100%;
    overflow: auto;
    margin-bottom: 8vh;
}

div.column {
    background-color: #203647;
    position: relative;
    width: 15vw;
    padding: 1.5%;
    border: 2px solid #007CC7;
  }
.right{
    float: right;
    margin-right: 10vw;
}
.left{
    float: left;
    margin-left: 10vw;
}
.center{
    margin-right: auto;
    margin-left: auto;
}
img.column{
    width: auto;
    max-width: 15vw;
    max-height: 30vh;
    display: block;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}
img.column:hover{
    opacity: 0.7;
}

.container{
    position: relative;
    height: 40vh;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 5vh;
}
.container img{
    width: 100%;
    height: 40vh;
}
.text-block {
    height: 25vh;
    z-index: 1;
    position: absolute;
    margin-left: 42vw;
    text-align: center;
    color: whitesmoke;
    font-family: Merriweather;
    font-size: 10vh;
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
}

div.button{
    width: 43px;
    height: 43px;
    position: relative;
    float: right;
    top: 50px;
    text-align: center;
    background-color: #5085A5;
    color: whitesmoke;
    visibility: hidden;
    border-radius: 50%;
    vertical-align: top;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.modal, #divError {
    display: block; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #12232E; 
}

#divError {
    height: 70px;
    top: 200px;
    background-color: #ff0033;
    font-family: Merriweather, serif;
    color: whitesmoke;
    font-size: 30px;
    padding-top: 0px;
    vertical-align: middle;
    line-height: 70px;
    text-align: center;
}

.modal-content {
    margin: auto;
    display: block;
    height: 100%;
    max-height: 500px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.exit, #spanError {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.exit:hover, #spanError:hover{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#spanError{
    top: 0px;
}

#textError{
    font-family: Merriweather, serif;
    color: whitesmoke;
    font-size: 30px;
    padding: 10px;
}

.loading{
    display: none;
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #12232E;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #007CC7;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -58px;
    margin-left: -58px;
    animation: spin 1.25s linear infinite;
    z-index: inherit;
  }

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

h3{
    font-family: Merriweather, serif;
    font-size: 3vh;
    color: whitesmoke;
    margin-top: 3vh;
}
p{
    font-family: "Open Sans", sans-serif;
    font-size: 2vh;
    color: whitesmoke;
}

